%table.worker-health
  %thead
    %th.right Worker
    %th.left Status
  %tbody
    - @workers.each do |worker,status|
      %tr
        %td.right= worker
        %td
          - status.each do |state|
            %span.attempt-status{:class => state}
